<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhxx.service.mapper.ms.MsMapper">

    <resultMap id="msMap" type="com.dhxx.common.entity.ms.MsInfo">
        <id column="id" property="id" />
        <result column="udn" property="udn" />
        <result column="online_status" property="onlineStatus" />
        <result column="status" property="status" />
        <result column="imsi" property="imsi" />
        <result column="type" property="type" />
        <result column="is_tnc" property="isTcn" />
        <result column="is_sub_group" property="isSubGroup" />
        <result column="is_sub_register" property="isSubRegister" />
        <result column="user_name" property="userName" />
        <result column="grp_name" property="grpName" />
        <result column="is_sub_call" property="isSubCall" />
        <result column="grp_id" property="grpId" />
    </resultMap>

    <insert id="save" parameterType="com.dhxx.common.entity.ms.MsInfo" >
        insert into TB_MS_INFO(
				udn,
				online_status,
				status,
				type,
				is_tcn,
				is_sub_group,
				is_sub_register)
		values(
				#{udn,jdbcType=VARCHAR},
				#{onlineStatus,jdbcType=VARCHAR},
				#{status,jdbcType=VARCHAR},
				#{type,jdbcType=VARCHAR},
				#{isTcn,jdbcType=VARCHAR},
				#{isSubGroup,jdbcType=VARCHAR},
				#{isSubRegister,jdbcType=VARCHAR}
				)
	</insert>

    <update id="update" parameterType="com.dhxx.common.entity.ms.MsInfo">
        update TB_MS_INFO
        <set>
            <if test="onlineStatus != null and onlineStatus != ''">
                online_status = #{onlineStatus,jdbcType=VARCHAR},
            </if>
            <if test="status != null and status != ''">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="type != null and type != ''">
                type = #{type,jdbcType=VARCHAR},
            </if>

            <if test="imsi != null and imsi != ''">
                imsi = #{imsi,jdbcType=VARCHAR},
            </if>

            <if test="isTCN != null and isTCN != ''">
                is_tcn = #{isTCN,jdbcType=VARCHAR},
            </if>

            <if test="isSubGroup != null and isSubGroup != ''">
                is_sub_group = #{isSubGroup,jdbcType=VARCHAR},
            </if>

            <if test="isSubRegister != null and isSubRegister != ''">
                is_sub_register = #{isSubRegister,jdbcType=VARCHAR},
            </if>

        </set>
        where udn = #{udn}
    </update>

    <delete id="delete" parameterType="com.dhxx.common.entity.ms.MsInfo">
        delete from TB_MS_INFO where udn = #{udn}
    </delete>

    <select id="findMsByUdn" resultType="com.dhxx.common.entity.ms.MsInfo">
        select m.UDN,
               m.ONLINE_STATUS,
               m.`STATUS`,
               m.IMSI,m.TYPE,
               m.IS_TCN,
               m.IS_SUB_GROUP,
               m.IS_SUB_REGISTER
        from TB_MS_INFO m
        where m.UDN= #{udn}
    </select>

    <select id="findMsByPage" resultMap="msMap">
        select distinct m.UDN,
			 m.ONLINE_STATUS,
			 m.`STATUS`,
			 m.IMSI,
             m.TYPE,
			 m.IS_TCN,
			 m.IS_SUB_GROUP,
			 m.IS_SUB_REGISTER,
             gm1.GRP_ID,
             u.USER_NAME
			 from TB_MS_INFO m
        inner join TB_GROUP_MS gm1 on gm1.UDN=m.UDN
        inner join TB_USER u on u.UDN=m.UDN
            where gm1.UDN != #{udn}

            <if  test="grpId == null and grpId == ''">
                and gm1.GRP_ID in (
                  select gm2.GRP_ID from TB_GROUP_MS gm2 where gm2.UDN = #{udn})
            </if>

            <if  test="grpId != null and grpId != ''">
                and gm1.GRP_ID = #{grpId}
            </if>

            limit ${(pageNow-1)*pageSize}, #{pageSize}
    </select>

    <select id="findMsByCount" resultType="java.lang.Double">
        select count(1)
        from TB_MS_INFO m
        inner join TB_GROUP_MS gm1 on gm1.UDN=m.UDN
        where gm1.UDN != #{udn}

        <if  test="grpId == null and grpId == ''">
            and gm1.GRP_ID in (
              select gm2.GRP_ID from TB_GROUP_MS gm2 where gm2.UDN = #{udn})
        </if>

        <if  test="grpId != null and grpId != ''">
            and gm1.GRP_ID = #{grpId}
        </if>

    </select>

    <select id="findMsOnManage" resultMap="msMap">
        select g.GRP_NAME,
			 m.UDN,
			 u.USER_NAME,
			 m.ONLINE_STATUS,
			 m.`STATUS`,
			 m.IMSI,m.TYPE,
			 m.IS_TCN,
			 um.IS_SUB_GROUP,
			 um.IS_SUB_REGISTER,
			 um.IS_SUB_CALL from TB_MS_INFO m
        inner join TB_GROUP_MS gm on gm.UDN = m.UDN
        inner join TB_USER u on u.UDN = m.UDN
        inner join TB_GROUP_INFO g on g.GRP_ID = gm.GRP_ID
        left join TB_USER_MS_SUB um on  um.UDN=m.UDN

        limit ${(pageNow-1)*pageSize}, #{pageSize}
    </select>

    <select id="findMsOnManageCount" resultType="java.lang.Double">
        select count(1) from TB_MS_INFO m
        inner join TB_GROUP_MS gm on gm.UDN = m.UDN
        inner join TB_USER u on u.UDN = m.UDN
        inner join TB_GROUP_INFO g on g.GRP_ID = gm.GRP_ID
        left join TB_USER_MS_SUB um on  um.UDN=m.UDN

    </select>
</mapper>