<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhxx.service.mapper.roleper.RolePerMapper">

    <insert id="save" parameterType="com.dhxx.common.entity.roleper.RolePermission" >
        insert into TB_ROLE_PERMISSION(
				role_id,
				permission_id,
				describe)
		values(
				#{roleId,jdbcType=VARCHAR},
				#{permissionId,jdbcType=VARCHAR},
				#{describe,jdbcType=VARCHAR}
				)
	</insert>

    <delete id="delete" parameterType="com.dhxx.common.entity.roleper.RolePermission">
        delete from TB_ROLE_PERMISSION where id = #{id}
    </delete>

</mapper>