<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhxx.service.mapper.area.AreaMapper">

    <select id="list" parameterType="com.dhxx.common.entity.province.Province" resultType="com.dhxx.common.entity.province.Province">
          select p.province_id provinceId, p.province province
          from TB_PROVINCE p
          order by p.province_id asc
    </select>

    <select id="cityList" parameterType="com.dhxx.common.entity.city.City" resultType="com.dhxx.common.entity.city.City">
          select c.city_id cityId, c.city city
          from TB_CITY c
          where c.father_id = #{fatherId}
          order by c.city_id asc
    </select>

    <select id="areaList" parameterType="com.dhxx.common.entity.area.Area" resultType="com.dhxx.common.entity.area.Area">
        select a.area_id areaId, a.area area
        from TB_AREA a
        where a.father_id = #{fatherId}
        order by a.area_id asc
    </select>

</mapper>