<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhxx.service.mapper.user.UserMapper">

    <select id="list" parameterType="com.dhxx.common.entity.user.User" resultType="com.dhxx.common.entity.user.User">
        select u.id,
        u.account account,
        u.password password,
        u.salt salt,
        u.userName userName,
        u.udn udn,
        u.role,
        u.status status,
        u.register_date registerDate,
        u.area area,
        u.city city,
        u.server server,
        u.remark remark
        from TB_USER u
        where 1 = 1
        <if test="userName != null and userName != ''">
            and u.userName like '%'||#{userName}||'%'
        </if>
        <if test="account != null and account != ''">
            and u.account like '%'||#{account}||'%'
        </if>
    </select>

    <select id="infoByAccout" resultType="com.dhxx.common.entity.user.User">
        select u.id,
        u.account account,
        u.password password,
        u.salt salt,
        u.user_name userName,
        u.udn udn,
        u.role role,
        u.status status,
        u.register_date registerDate,
        u.area area,
        u.city city,
        u.server server,
        u.remark remark
        from TB_USER u
        where 1 = 1
        <if test="account != null and account != ''">
            and u.account = #{account}
        </if>
    </select>

    <insert id="save" parameterType="com.dhxx.common.entity.user.User">
		insert into TB_USER(
				account,
				password,
				salt,
				user_name,
				udn,
				role,
				status, 
				register_date,
				area,
				city,
				server,
				remark)
		values(
				#{account,jdbcType=VARCHAR},
				#{password,jdbcType=VARCHAR},
				#{salt,jdbcType=VARCHAR},
				#{userName,jdbcType=VARCHAR},
				#{udn,jdbcType=VARCHAR},
				#{role,jdbcType=VARCHAR},
				#{status,jdbcType=VARCHAR},
				#{registerDate,jdbcType=VARCHAR},
				#{area,jdbcType=VARCHAR},
				#{city,jdbcType=VARCHAR},
				#{server,jdbcType=VARCHAR},
				#{remark,jdbcType=VARCHAR})
	</insert>

    <update id="update" parameterType="com.dhxx.common.entity.user.User">
        update TB_USER
        <set>
            <if test="userName != null and userName != ''">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPassword != null and userPassword != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="salt != null and salt != ''">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="udn != null and udn != ''">
                udn = #{udn,jdbcType=VARCHAR},
            </if>
            <if test="role != null and role != ''">
                role = #{role,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status=#{status},
            </if>
            <if test="area != null and area != ''">
                area = #{area,jdbcType=VARCHAR},
            </if>
            <if test="city != null and city != ''">
                city = #{city,jdbcType=VARCHAR},
            </if>
            <if test="server != null and server != ''">
                server = #{server,jdbcType=VARCHAR},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where account = #{account}
    </update>

    <delete id="delete" parameterType="com.dhxx.common.entity.user.User">
		delete from TB_USER where account = #{account}
	</delete>

</mapper>