<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhxx.service.mapper.sms.SmsMapper">

    <resultMap id="smsMap" type="com.dhxx.common.entity.sms.SmsLog">
        <id column="id" property="id" />
        <result column="udn" property="udn" />
        <result column="send_udn" property="sendUdn" />
        <result column="content" property="content" />
        <result column="status" property="status" />
        <result column="rec_time" property="recTime" />
    </resultMap>

    <insert id="save" parameterType="com.dhxx.common.entity.sms.SmsLog" >
        insert into TB_SMS_LOG(
        udn,
        send_udn,
        content,
        status,
        rec_time)
        values(
        #{udn,jdbcType=VARCHAR},
        #{sendUdn,jdbcType=VARCHAR},
        #{content,jdbcType=VARCHAR},
        #{status,jdbcType=VARCHAR},
        #{recTime,jdbcType=VARCHAR}
        )
    </insert>

    <delete id="delete" parameterType="com.dhxx.common.entity.sms.SmsLog">
        delete from TB_SMS_LOG where id = #{id}
    </delete>

    <update id="update" parameterType="com.dhxx.common.entity.sms.SmsLog">
        update TB_SMS_LOG set status = 1
        where id = #{id}
    </update>

    <select id="findSmsLogByPage" resultMap="smsMap">
        select s.ID,
        s.UDN,
        s.SEND_UDN,
        s.CONTENT,
        s.STATUS,
        s.REC_TIME
        from TB_SMS_LOG s
        where 1=1

        <if test="isWeek == 1">
            and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(s.REC_TIME)
        </if>

        <if test="startTime != null and endTime != null">
            and s.REC_TIME BETWEEN  #{startTime} and #{endTime}
        </if>

        <!--接收短信-->
        <if test="type==0">
            <if test="queryContent == null and queryContent == ''">
                and s.UDN = #{udn}
            </if>

            <if test="queryContent != null and queryContent != ''">
                and (
                (s.SEND_UDN = (select u.UDN from TB_USER u where u.USER_NAME like '%${queryContent}%') and s.udn=#{udn})
                or
                (s.SEND_UDN = #{queryContent} and s.udn=#{udn})
                )
            </if>
        </if>

        <!--发送短信-->
        <if test="type==1">
            <if test="queryContent == null and queryContent == ''">
                and s.SEND_UDN = #{udn}
            </if>

            <if test="queryContent != null and queryContent != ''">
                and (
                    (s.UDN = (select u.UDN from TB_USER u where u.USER_NAME like '%${queryContent}%') and s.SEND_UDN=#{udn})
                    or
                    (s.UDN = #{queryContent} and s.SEND_UDN=#{udn})
                )
            </if>
        </if>

        limit ${(pageNow-1)*pageSize}, #{pageSize}
    </select>

    <select id="findSmsLogByCount" resultType="java.lang.Double">
        select count(1)
        from TB_SMS_LOG s
        where 1=1

        <if test="isWeek == 1">
            and DATE_SUB(CURDATE(), INTERVAL 7 DAY) &lt;= date(s.REC_TIME)
        </if>

        <if test="startTime != null and endTime != null">
            and s.REC_TIME BETWEEN  #{startTime} AND #{endTime}
        </if>

        <!--接收短信-->
        <if test="type==0">
            <if test="queryContent == null and queryContent == ''">
                and s.UDN = #{udn}
            </if>

            <if test="queryContent != null and queryContent != ''">
                and (
                (s.SEND_UDN = (select u.UDN from TB_USER u where u.USER_NAME like '%${queryContent}%') and s.udn=#{udn})
                or
                (s.SEND_UDN = #{queryContent} and s.udn=#{udn})
                )
            </if>
        </if>

        <!--发送短信-->
        <if test="type==1">
            <if test="queryContent == null and queryContent == ''">
                and s.SEND_UDN = #{udn}
            </if>

            <if test="queryContent != null and queryContent != ''">
                and (
                (s.UDN = (select u.UDN from TB_USER u where u.USER_NAME like '%${queryContent}%') and s.SEND_UDN=#{udn})
                or
                (s.UDN = #{queryContent} and s.SEND_UDN=#{udn})
                )
            </if>
        </if>

    </select>

    <select id="smsCountByStatus0" resultType="java.lang.Integer">
        select count(1) from TB_SMS_LOG s
        where s.UDN = #{udn}
        and s.status = 0
    </select>

</mapper>