<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhxx.service.mapper.userms.UserMsMapper">

    <insert id="save" parameterType="com.dhxx.common.entity.userms.UserMs" >
        insert into TB_USER_MS_SUB(
				account,
				udn,
				is_sub_group,
				is_sub_register,
				is_sub_call)
		values(
				#{account,jdbcType=VARCHAR},
				#{udn,jdbcType=VARCHAR},
				#{isSubGroup,jdbcType=VARCHAR},
				#{isSubRegister,jdbcType=VARCHAR},
				#{isSubCall,jdbcType=VARCHAR}
				)
	</insert>

    <update id="update" parameterType="com.dhxx.common.entity.userms.UserMs">
        update TB_USER_MS_SUB
        <set>
            <if test="isSubGroup != null and isSubGroup != ''">
                is_sub_group = #{isSubGroup,jdbcType=VARCHAR},
            </if>
            <if test="isSubRegister != null and isSubRegister != ''">
                is_sub_register = #{isSubRegister,jdbcType=VARCHAR},
            </if>
            <if test="isSubCall != null and isSubCall != ''">
                is_sub_call = #{isSubCall,jdbcType=VARCHAR},
            </if>
        </set>
        where account = #{account}
    </update>

</mapper>