<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dhxx.service.mapper.tcn.TcnInfoMapper">

    <insert id="save" parameterType="com.dhxx.common.entity.tcn.TcnInfo" >
        insert into TB_TCN_INFO(
				account,
				ip,
				route_address,
				dns,
				realm_name)
		values(
				#{account,jdbcType=VARCHAR},
				#{ip,jdbcType=VARCHAR},
				#{routeAddress,jdbcType=VARCHAR},
				#{dns,jdbcType=VARCHAR},
				#{realmName,jdbcType=VARCHAR}
				)
	</insert>

    <update id="update" parameterType="com.dhxx.common.entity.tcn.TcnInfo">
        update TB_TCN_INFO
        <set>
            <if test="ip != null and ip != ''">
                ip = #{ip,jdbcType=VARCHAR},
            </if>

            <if test="routeAddress != null and routeAddress != ''">
                route_address = #{routeAddress,jdbcType=VARCHAR},
            </if>

            <if test="dns != null and dns != ''">
                dns = #{dns,jdbcType=VARCHAR},
            </if>

            <if test="realmName != null and realmName != ''">
                realm_name = #{realmName,jdbcType=VARCHAR},
            </if>

        </set>
        where account = #{account}
    </update>

    <delete id="delete" parameterType="com.dhxx.common.entity.tcn.TcnInfo">
        delete from TB_MS_INFO where account = #{account}
    </delete>

    <select id="tcnInfoByAccount" resultType="com.dhxx.common.entity.tcn.TcnInfo">
        select t.ID,
               t.ACCOUNT,
               t.IP,
               t.ROUTE_ADDRESS routeAddress,
               t.DNS,
               t.REALM_NAME realmName
        from TB_TCN_INFO t
        where t.ACCOUNT = #{account}
    </select>
</mapper>